@page
@model WebApp.Pages.Profile.BookModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="~/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/vendor/css/style.css" rel="stylesheet">
    <style>
        label {
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <aside style="margin-top: 80px" id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <span><button><a href="#">Quay về trang chủ</a></button></span>
            </li>
            <li class="nav-item">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </li>

            <li class="nav-item">
                <a class="nav-link " asp-page="/Profile/Index" asp-route-id="@(int.Parse(Model.UserId))">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Profile/Book">
                    <i class="bi bi-envelope"></i>
                    <span>Ðăng truyện</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Book/ManageBook">
                    <i class="bi bi-envelope"></i>
                    <span>Danh sách truyện</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Book/ManageChapter">
                    <i class="bi bi-envelope"></i>
                    <span>Quản lý chapter</span>
                </a>
            </li>
    </aside>
    <main style="margin-top: 4px" id="main" class="main">

        <div class="pagetitle">
            <h1>Post Comic</h1>
        </div><!-- End Page Title -->

        <section class="section contact">
            <div>
                <div class="card p-4">
                    <form method="post" onsubmit="return validateForm()">
                        
                        <div class="row gy-4">
                            <div class="col-md-12">
                                Title
                                <input type="text" name="title" asp-for="@Model.Book.Title" id="title" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                Author
                                <input type="text" name="authorname" asp-for="@Model.Book.AuthorName" id="title" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <h5>Category</h5>
                                @{
                                    foreach(var cate in Model.Categories)
                                    {

                                        <input type="checkbox" style="transform:scale(1.5); margin-left: 30px" name="category" value="@cate.CateId"> @cate.Name

                                            
                                        
                                    }
                                }  
                            </div>
                            <div class="col-md-12">
                                Publish Date
                                <input type="date" class="form-control" asp-for="@Model.Book.PublishDate" name="publishdate" required>
                            </div>
                            <div class="col-md-12">
                                Image
                                <input type="text" asp-for="@Model.Book.Img" class="form-control" name="image" required>
                            </div>

                            <div class="col-md-12">
                                Detail
                                <textarea asp-for="@Model.Book.Detail" class="form-control" name="detail" id="detail" rows="6" required minlength="100" maxlength="200"></textarea>
                                <div style="font-size: 13px">
                                    Tóm tắt cho truyện không nên quá dài mà nên ngắn gọn, tập trung, thú vị. Phần này rất quan trọng vì nó quyết định độc giả có đọc hay không.
                                </div>
                            </div>
                            <div class="col-md-12" style="display: none">
                                Status
                                <input type="hidden" name="status" asp-for="@Model.Book.Status" value="Updating">
                                <input type="text" class="form-control" value="Updating" readonly>
                            </div>
                            <div class="col-md-12" style="display: none">
                                Creator
                                <input type="hidden" name="creator" value="@Model.UserId">
                                <input type="text" class="form-control" value="@Model.UserId" readonly>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" style="background-color: #4154f1; color: #fff;
                                            padding: 10px 20px 10px 20px; border: none; border-radius: 5px">
                                    Save New Comic
                                </button>
                                <button type="reset" style="background-color: #4154f1; color: #fff;
                                            padding: 10px 20px 10px 20px; border: none; border-radius: 5px">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>

                    <script>
                        function validateForm() {
                            var title = document.getElementById("title").value.trim();
                            var authorname = document.getElementById("authorname").value.trim();
                            var detail = document.getElementById("detail").value.trim();

                            if (title === "" || authorname === "" || detail === "") {
                                alert("Please fill out all required fields.");
                                return false;
                            }

                            return true;
                        }
                    </script>
                </div>
            </div>
        </section>
    </main>
    <script src="~/js/main.js"></script>
    <script src="~/css/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/vendor/chart.js/chart.umd.js"></script>
    <script src="~/css/vendor/echarts/echarts.min.js"></script>
    <script src="~/css/vendor/quill/quill.min.js"></script>
    <script src="~/css/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/css/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/css/vendor/php-email-form/validate.js"></script>
</body>
</html>